<div class="resume">
	<section class="grap">
		<%- post.content %>
	</section>
    <ul class="project_list">
        <% 
            var status = { online: '已上线', deliver: '已交付' , develop: '开发中'}
            for (var project of post.projects) {
        %>
        <li class="card">
            <p><span>项目名称：</span><%= project.name || '未填'  %></p>
            <p><span>技术选型：</span><%= project.framework || '未填' %></p>
            <p><span>项目状态：</span><%= status[project.state] %></p>
            <p><span>参与开发时间：</span><%= project.cycle_on || '未填'  %> - <%= project.cycle_end || '未填' %></p>
            <p><span>类型：</span><%= project.type && project.type.replace(/\,/g,'、') || '未填' %></p>
        </li>
        <% } %>
        <li class="blank"></li>
    </ul>
</div>