<span 
	id="<%- url_for(post.path) %>"
	data-flag-title="<%= post.title %>"
	data-app-id="<%= theme.leancloud_visitors.app_id%>"
	data-app-key="<%= theme.leancloud_visitors.app_key%>"
	itemprop="visitors"
	class="<%= class_name %>">
	<i></i>
	<span class="leancloud-count"></span>
	<span>Views</span>
</span>