<% var current=date(Date.now(),"YYYY"); var latestUpdate=date(Date.now(),"YYYY-MM-DD HH:mm:ss"); %>
	<footer class="site-footer">
		<div class="footer-info">
			<p>
				<a href="<%= config.url %>" class="logo">
					<%= config.title %>
				</a>
				<span>&copy;<%= theme.since %> - <%= current %></span>
			</p>
			<p>
				<svg class="icon icon-heart">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-heart"></use>
				</svg>
				<a href="https://fatesinger.com" target="_blank" title="Hexo 主题 kana">Theme:Kana</a>.
			</p>
			<p>
				<svg class="icon icon-deploy">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-deploy"></use>
				</svg>
				&nbsp;
				<%= latestUpdate %>
			</p>
		</div>
		
		<div>
			友情链接：
			<% for (var i in theme.footLinks){ %>
				<a href="<%= theme.footLinks[i] %>" target="_blank" class="ftsp">
					<%= i %>
				</a>
			<% } %>
		</div>
		<%- partial('third-part/time') %>
	</footer>
	<%- js('js/app') %>